

<div class="jumbotron">
  <div class="container">
    <h1>List of product</h1>
    <ul>
      <li *ngFor="let p of data"> {{p}}</li>
    </ul>

    <p>
      <a class="btn btn-primary btn-lg">Learn more</a>
    </p>
  </div>
</div>


<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">List of product</h3>
    </div>
    <ul>
      <li *ngFor="let p of data"> {{p}}</li>
    </ul>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">List of product 3</h3>
    </div>
    <div class="panel-body">

     <table class="table table-bordered table-striped table-hover">
       <thead>
         <tr>
           <th>code of product</th>
           <th>label</th>
           <th>unit price</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let p of data" >
           <td>{{p.code}}</td>
           <td>{{p.label}} </td>
           <td>{{p.unitPrice}}</td>
         </tr>
       </tbody>
     </table>

    </div>
</div>
